
@media (max-width: 768px) {
    body {
        font-size: 0.7rem;
    }
    
    button, .volver, input[type="submit"], .logout {
        min-width: 70px;
        padding: 0.4rem 0.9rem;
    }
}