.mnsjError {
    position: absolute; 
    top: -100px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #ffffff; 
    color: #488cae; 
    padding: 1rem 2rem;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    opacity: 0; 
    animation: slideIn 3s ease-in-out; 
    z-index: 100;
}

@keyframes slideIn {
    0% {
        top: -100px; 
        opacity: 0; 
    }
    10% {
        top: 20px;
        opacity: 1; 
    }
    90% {
        top: 20px;
        opacity: 1; 
    }
    100% {
        top: -100px; 
        opacity: 0; 
    }
}