@media (max-width: 768px) {
    .navbar {
        height: 60px;
        padding: 0.8rem;
        position: fixed;
        width: 100%;
    }

    .navbar .opciones-container {
        display: none;
    }

    .navbar p {
        font-size: 0.9rem;
    }

    .navbar .logout {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
    }
}