@import url(estiloGeneral.css);
@import url(navBar.css);
@import url(scroll.css);
@import url(estiloGeneralMovil.css);
@import url(navBarMovil.css);
@import url(mensajeError.css);


@media (max-width: 768px) {
    table {
        width: -webkit-fill-available;
        margin: 0;
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }


    td:first-child {
        position: sticky;
        left: 0;
        background-color: #f8f9fa;
        z-index: 2;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        min-width: 80px;
    }

    th:first-child {
        position: sticky;
        left: 0;
        z-index: 3;
        background-color: #488cae;
        min-width: 80px;
    }

    th {
        min-width: 120px;
        padding: 0.6rem;
        font-size: 0.7rem;
    }

    td {
        min-width: 120px;
        padding: 0.6rem;
        text-align: center;
        font-size: 0.7rem;
    }


    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: 0 -1rem;
        padding: 0 1rem;
    }
    .botones {
        flex-direction: column; 
        width: fit-content;
        left: 25%;
    }
}